.character-card {
    min-width: 50px;
    min-height: 100px;
    max-width: 250px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: grey;
    img {
        max-width: 100%;
        max-height: auto;
    }
}